services:
  app:
    image: hotel-api
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD} 
    extra_hosts:
      - "host.docker.internal:host-gateway"